<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Data Tables</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="card-block">
                        <h6 class="card-title text-bold">Default Datatable</h6>
                        <p class="content-group">
                            This is the most basic example of the datatables with zero configuration. Use the <code>.datatable</code> class to initialize datatables.
                        </p>
                        <div class="table-responsive">
                            <div class="table_header">
                                <div class="row">
                                  <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length">
                                      <label>
                                        Show
                                        <select
                                          [(ngModel)]="pageSize"
                                          (ngModelChange)="PageSize()"
                                          class="form-control form-control-sm"
                                        >
                                          <option value="10">10</option>
                                          <option value="25">25</option>
                                          <option value="50">50</option>
                                          <option value="100">100</option>
                                        </select>
                                        entries
                                      </label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            <table matSort (matSortChange)="sortData($event)" class="datatable table table-stripped ">
                            <thead>
                                <tr>
                                    <th mat-sort-header="name">Name</th>
                                    <th mat-sort-header="position">Position</th>
                                    <th mat-sort-header="office">Office</th>
                                    <th mat-sort-header="age">Age</th>
                                    <th mat-sort-header="startDate">Start date</th>
                                    <th mat-sort-header="salary">Salary</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of dataTables">
                                    <td>{{data.name}}</td>
                                    <td>{{data.position}}</td>
                                    <td>{{data.office}}</td>
                                    <td>{{data.age}}</td>
                                    <td>{{data.startDate}}</td>
                                    <td>{{data.salary}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="table_footer">
                            <div class="col-sm-12 col-md-5">
                              <div class="dataTables_info">
                                Showing {{ serialNumberArray[0] }} to
                                {{ serialNumberArray[serialNumberArray.length - 1] }} of
                                {{ totalData }} entries
                              </div>
                            </div>
            
                            <div class="col-sm-12 col-md-7">
                              <div class="pagination_section">
                                <ul class="pagination">
                                  <li
                                    class="page-item"
                                    [ngClass]="{
                                      disabled: currentPage === 1
                                    }"
                                  >
                                    <a
                                      (click)="getMoreData('previous')"
                                      class="page-link"
                                      href="javascript:void(0);"
                                      tabindex="-1"
                                      >Previous</a
                                    >
                                  </li>
            
                                  <ng-container
                                    *ngFor="let item of pageNumberArray; let i = index"
                                  >
                                    <li
                                      class="page-item"
                                      [class.active]="item === currentPage"
                                      [ngClass]="
                                        (pageNumberArray[currentPage - 2] > item &&
                                          item !== 1 &&
                                          pageNumberArray.length > 6) ||
                                        (pageNumberArray[currentPage] < item &&
                                          item !== 1 &&
                                          pageNumberArray.length > 6 &&
                                          pageNumberArray.length !== item)
                                          ? 'hide-page-no'
                                          : 'show-page-no'
                                      "
                                    >
                                      <a
                                        (click)="moveToPage(item)"
                                        class="page-link"
                                        href="javascript:void(0);"
                                      >
                                        {{ item }}
                                      </a>
                                    </li>
                                    <li
                                      class="page-item"
                                      *ngIf="
                                        i === 0 &&
                                        pageNumberArray.length > 6 &&
                                        currentPage > 2
                                      "
                                      [hidden]="currentPage === 1"
                                      (click)="moveToPage(currentPage - 2)"
                                    >
                                      <a class="page-link" href="javascript:void(0);">
                                        ...
                                      </a>
                                    </li>
                                    <li
                                      *ngIf="
                                        i === pageNumberArray.length - 2 &&
                                        pageNumberArray.length > 6
                                      "
                                      [hidden]="
                                        currentPage >=
                                          pageNumberArray[pageNumberArray.length - 2] ||
                                        totalData <
                                          serialNumberArray[serialNumberArray.length - 1]
                                      "
                                      class="page-item"
                                      (click)="moveToPage(currentPage + 2)"
                                    >
                                      <a class="page-link" href="javascript:void(0);">
                                        ...
                                      </a>
                                    </li>
                                  </ng-container>
            
                                  <li
                                    class="page-item"
                                    [ngClass]="{
                                      disabled:
                                        currentPage ===
                                          pageNumberArray[pageNumberArray.length - 1] ||
                                          dataTables.length === 0
                                    }"
                                  >
                                    <a
                                      (click)="getMoreData('next')"
                                      class="page-link"
                                      href="javascript:void(0);"
                                      >Next
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>