<div class="page-wrapper">
  <div class="content">

      <!-- Page Header -->
      <div class="page-header">
          <div class="row">
              <div class="col-sm-12">
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
                      <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                      <li class="breadcrumb-item active">Doctor Dashboard</li>
                  </ul>
              </div>
          </div>
      </div>
      <!-- /Page Header -->

      <div class="good-morning-blk">
          <div class="row">
              <div class="col-md-6 d-flex align-items-center">
                  <div style="width: 40%;">
                      <mat-select [(ngModel)]="doctor_id" class="form-control select" (selectionChange)="selectionDoctor()"  placeholder="Selec. Doctor">
                          <mat-option *ngFor="let data of doctors" [value]="data.id">
                            {{data.full_name}}
                          </mat-option>
                      </mat-select>
                  </div>
                  <div class="morning-user">
                      <h2>Good Morning, <span>Dr.Smith Wayne</span></h2>
                      <p>Have a nice day at work</p>
                  </div>
              </div>
              <div class="col-md-6 position-blk">
                  <div class="morning-img">
                      <img src="assets/img/morning-img-02.png" alt="">
                  </div>
              </div>
          </div>
      </div>

      <div class="doctor-list-blk">
          <div class="row">
              <div class="col-xl-3 col-md-6">
                  <div class="doctor-widget border-right-bg">
                      <div class="doctor-box-icon flex-shrink-0">
                          <img src="assets/img/icons/doctor-dash-01.svg" alt="">
                      </div>
                      <div class="doctor-content dash-count flex-grow-1">
                          <!-- [countUp]="30" [options]="{duration: 10}" -->
                          <h4><span class="counter-up" >{{ num_appointments_current }}</span><span>/{{ num_appointments_before }}</span>
                              <span class="status-green" *ngIf="porcentaje_d >= 0">+{{ porcentaje_d }}%</span>
                              <span class="status-pink" *ngIf="porcentaje_d < 0">{{ porcentaje_d }}%</span>
                          </h4>
                          <h5>Appointments</h5>
                      </div>
                  </div>
              </div>

              <div class="col-xl-3 col-md-6">
                  <div class="doctor-widget border-right-bg">
                      <div class="doctor-box-icon flex-shrink-0">
                          <img src="assets/img/icons/doctor-dash-03.svg" alt="">
                      </div>
                      <div class="doctor-content dash-count flex-grow-1">
                          <!-- [countUp]="12" [options]="{duration: 10}" -->
                          <h4><span class="counter-up" >{{ num_appointments_attetion_current }}</span><span>/{{ num_appointments_attetion_before }}</span>
                              <span class="status-green" *ngIf="porcentaje_da >= 0">+{{ porcentaje_da }}%</span>
                              <span class="status-pink" *ngIf="porcentaje_da < 0">{{ porcentaje_da }}%</span>
                          </h4>
                          <h5>Attetion</h5>
                      </div>
                  </div>
              </div>

              <div class="col-xl-3 col-md-6">
                  <div class="doctor-widget">
                      <div class="doctor-box-icon flex-shrink-0">
                          <img src="assets/img/icons/doctor-dash-04.svg" alt="">
                      </div>
                      <div class="doctor-content dash-count flex-grow-1">
                          <!-- [countUp]="530" [options]="{duration: 10}" -->
                          <h4>$<span class="counter-up" >{{ num_appointments_total_pay_current }}</span><span> /{{ num_appointments_total_pay_before }} </span>
                              <span class="status-green" *ngIf="porcentaje_dt >= 0">+{{ porcentaje_dt }}%</span>
                              <span class="status-pink" *ngIf="porcentaje_dt < 0">{{ porcentaje_dt }}%</span>
                          </h4>
                          <h5>Earnings +</h5>
                      </div>
                  </div>
              </div>

              <div class="col-xl-3 col-md-6">
                  <div class="doctor-widget">
                      <div class="doctor-box-icon flex-shrink-0">
                          <img src="assets/img/icons/doctor-dash-04.svg" alt="">
                      </div>
                      <div class="doctor-content dash-count flex-grow-1">
                          <!-- [countUp]="530" [options]="{duration: 10}" -->
                          <h4>$<span class="counter-up" >{{ num_appointments_total_pending_current }}</span><span> /{{ num_appointments_total_pending_before }} </span>
                              <span class="status-green" *ngIf="porcentaje_dtp >= 0">+{{ porcentaje_dtp }}%</span>
                              <span class="status-pink" *ngIf="porcentaje_dtp < 0">{{ porcentaje_dtp }}%</span>
                          </h4>
                          <h5>Earnings -</h5>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12 col-md-12 col-lg-12 col-xl-7">
              <div class="card">
                  <div class="card-body">
                      <div class="chart-title patient-visit mb-0">
                          <h4>Income</h4>
                          <div class="income-value" >
                              <h3><span>$</span> 20,560</h3>
                              <p><span class="passive-view"><i class="feather icon-arrow-up-right me-1"></i>40%</span> vs last month</p>
                          </div>
                          <div class="form-group mb-0">
                               <mat-select [(ngModel)]="selectedValue" class="form-control select"  placeholder="2022">
                                      <mat-option *ngFor="let data of selecedList" [value]="data.value">
                                        {{data.value}}
                                      </mat-option>
                              </mat-select>
                          </div>
                      </div>
                      <div id="apexcharts-area" *ngIf="query_income_year">
                          <apx-chart
                          [series]="chartOptionsOne.series"
                          [chart]="chartOptionsOne.chart"
                          [xaxis]="chartOptionsOne.xaxis"
                          [dataLabels]="chartOptionsOne.dataLabels"
                          [grid]="chartOptionsOne.grid"
                          [stroke]="chartOptionsOne.stroke"
                          [title]="chartOptionsOne.title"
                          [markers]="chartOptionsOne.markers"
                          [yaxis]="chartOptionsOne.yaxis"
                          [fill]="chartOptionsOne.fill"
                        ></apx-chart></div>
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-12 col-lg-6 col-xl-3 d-flex">
              <div class="card">
                  <div class="card-body">
                          <apx-chart class="donut-chart-radial"
                          [series]="chartOptionsTwo.series"
                          [chart]="chartOptionsTwo.chart"
                          [labels]="chartOptionsTwo.labels"
                          [responsive]="chartOptionsTwo.responsive"
                          [dataLabels]="chartOptionsTwo.dataLabels"
                          [legend]="chartOptionsTwo.legend"
                        ></apx-chart>
                  </div>
              </div>
          </div>
          <div class="col-12 col-md-12 col-lg-6 col-xl-2 d-flex">
              <div class="struct-point">
                  <div class="card patient-structure">
                      <div class="card-body">
                          <h5>New Patients</h5>
                          <h3>56<span class="status-green"><img src="assets/img/icons/sort-icon-01.svg" alt="" class="me-1">60%</span></h3>
                      </div>
                  </div>
                  <div class="card patient-structure">
                      <div class="card-body">
                          <h5>Old Patients</h5>
                          <h3>35<span class="status-pink"><img src="assets/img/icons/sort-icon-02.svg" alt="" class="me-1">-20%</span></h3>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12 col-md-12  col-xl-7">
              <div class="card">
                  <div class="card-body">
                      <div class="chart-title patient-visit">
                          <h4>Activity Chart</h4>
                          <div >
                              <ul class="nav chat-user-total">
                                  <li><i class="fa fa-circle low-users" aria-hidden="true"></i>Low</li>
                                  <li><i class="fa fa-circle current-users" aria-hidden="true"></i> High</li>
                              </ul>
                          </div>
                          <div class="form-group mb-0">
                              <mat-select [(ngModel)]="selectedValue" class="form-control select"  placeholder="This Week">
                                  <mat-option *ngFor="let data of selecedLists" [value]="data.value">
                                    {{data.value}}
                                  </mat-option>
                              </mat-select>
                          </div>
                      </div>
                      <div id="activity-chart" *ngIf="query_n_appointment_year && query_n_appointment_year_before">
                          <apx-chart
                          [series]="chartOptionsThree.series"
                          [chart]="chartOptionsThree.chart"
                          [dataLabels]="chartOptionsThree.dataLabels"
                          [plotOptions]="chartOptionsThree.plotOptions"
                          [yaxis]="chartOptionsThree.yaxis"
                          [legend]="chartOptionsThree.legend"
                          [fill]="chartOptionsThree.fill"
                          [stroke]="chartOptionsThree.stroke"
                          [tooltip]="chartOptionsThree.tooltip"
                          [xaxis]="chartOptionsThree.xaxis"
                          [grid]="chartOptionsThree.grid"
                          [xaxis]="chartOptionsThree.xaxis"
                          [yaxis]="chartOptionsThree.yaxis"
                        ></apx-chart></div>
                  </div>
              </div>
              <div class="row" *ngIf="false">
                  <div class="col-12 col-md-12  col-xl-9">
                      <div class="card">
                          <div class="card-header">
                              <h4 class="card-title d-inline-block">Recent Appointments</h4> <a [routerLink]="routes.appointmentList" class="patient-views float-end">Show all</a>
                          </div>
                          <div class="card-body p-0 table-dash">

                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-12  col-xl-3 d-flex">
                      <div class="card wallet-widget">
                          <div class="circle-bar circle-bar2">
                              <circle-progress class="circle-progress-bar" [percent]="66" [clockwise]="true"
                              innerStrokeColor=#dee2e6 outerStrokeColor=#2E37A4></circle-progress>
                              <div class="circle-progress-icon">
                                  <b><img src="assets/img/icons/timer.svg" alt=""></b>
                              </div>
                          </div>
                          <div class="main-limit">
                              <p>Next Appointment in</p>
                              <h4>02h:12m</h4>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-12 col-lg-12 col-xl-5 d-flex">
              <div class="card flex-fill comman-shadow">
                  <div class="card-header">
                      <h4 class="card-title d-inline-block">Recent Appointments</h4> <a [routerLink]="routes.appointmentList" class="patient-views float-end">Show all</a>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <!-- (matSortChange)="sortData($event)" -->
                          <table matSort  class="table mb-0 border-0 datatable custom-table patient-profile-table">
                              <thead>
                                  <tr>
                                      <th mat-sort-header="date">Date</th>
                                      <th mat-sort-header="doctor">Doctor</th>
                                      <th mat-sort-header="status">Status</th>
                                      <th mat-sort-header="status_pay">Status Pay</th>
                                      <th mat-sort-header="charges">Charges ($)</th>
                                      <th></th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let data of appointments">
                                      <td >{{data.date_appointment_format}} </td>
                                      <td >{{data.doctor.full_name}}</td>
                                      <td>
                                          <button [ngClass]="{'status-pink' : data.status === 1, 'status-green' : data.status === 2}" class="custom-badge">{{data.status == 1 ? 'PENDIENTE' : 'ATENDIDO'}}</button>
                                      </td>
                                      <td>
                                          <button [ngClass]="{'status-green' : data.status_pay === 1, 'status-pink' : data.status_pay === 2}" class="custom-badge">{{data.status_pay == 1 ? 'PAGADO' : 'DEUDA'}}</button>
                                      </td>
                                      <td>{{data.amount }} PEN</td>
                                      <td class="text-end">
                                          <div class="dropdown dropdown-action">
                                              <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                              <div class="dropdown-menu dropdown-menu-end">
                                                  <a class="dropdown-item" [routerLink]="[ '/appointment-m/list/edit/', data.id ]"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
                                                  <!-- <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_appointment"><i class="fa fa-trash-alt m-r-5"></i> Delete</a> -->
                                              </div>
                                          </div>
                                      </td>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
