<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.payments">Accounts </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Edit Payments </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
            
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Edit Payments</h4>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">  
                                    <div class="form-group local-forms">
                                        <label >Payment Number <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" value="4356">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label >Payment Date  <span class="login-danger">*</span></label>
                                        <input class="form-control datetimepicker" type="text"  [formControl]="date" matInput [matDatepicker]="picker">
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label >Patient Name <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" value="Bernardo James">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label >Doctor Name <span class="login-danger">*</span></label>
                                        <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="Enter Doctor Name">
                                            <mat-option *ngFor="let data of selectedList1" [value]="data.value">
                                            {{data.value}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label >Total Amount <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" value="$3000">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label >Discount <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" value="$10">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label >Payment Method <span class="login-danger">*</span></label>
                                        <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="Select Payment Method">
                                            <mat-option *ngFor="let data of selectedList2" [value]="data.value">
                                            {{data.value}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label >Payment Status <span class="login-danger">*</span></label>
                                        <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="Select Payment Status">
                                            <mat-option *ngFor="let data of selectedList3" [value]="data.value">
                                            {{data.value}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group local-forms">
                                        <label>Other Information  <span class="login-danger">*</span></label>
                                        <textarea class="form-control" rows="3" cols="30"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit" class="btn btn-primary submit-form me-2">Submit</button>
                                        <button type="submit" class="btn btn-primary cancel-form">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>							
            </div>					
        </div>
    </div>
</div>