<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Gallery</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide" class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 m-b-20" data-src="assets/img/blog/blog-01.jpg" data-responsive="assets/img/blog/blog-01.jpg">
                <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                    <img class="img-fluid" src="assets/img/blog/blog-01.jpg" />
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 m-b-20" data-src="assets/img/blog/blog-02.jpg" data-responsive="assets/img/blog/blog-02.jpg">
                <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                    <img class="img-fluid" src="assets/img/blog/blog-02.jpg" />
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 m-b-20" data-src="assets/img/blog/blog-03.jpg" data-responsive="assets/img/blog/blog-03.jpg">
                <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                    <img class="img-fluid" src="assets/img/blog/blog-03.jpg" />
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 m-b-20" data-src="assets/img/blog/blog-04.jpg" data-responsive="assets/img/blog/blog-04.jpg">
                <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                    <img class="img-fluid" src="assets/img/blog/blog-04.jpg" />
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 m-b-20" data-src="assets/img/blog/blog-01.jpg" data-responsive="assets/img/blog/blog-01.jpg">
                <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                    <img class="img-fluid" src="assets/img/blog/blog-01.jpg" />
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 m-b-20" data-src="assets/img/blog/blog-02.jpg" data-responsive="assets/img/blog/blog-02.jpg">
                <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                    <img class="img-fluid" src="assets/img/blog/blog-02.jpg" />
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 m-b-20" data-src="assets/img/blog/blog-03.jpg" data-responsive="assets/img/blog/blog-03.jpg">
                <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                    <img class="img-fluid" src="assets/img/blog/blog-03.jpg" />
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 m-b-20" data-src="assets/img/blog/blog-04.jpg" data-responsive="assets/img/blog/blog-04.jpg">
                <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                    <img class="img-fluid" src="assets/img/blog/blog-04.jpg" />
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 m-b-20" data-src="assets/img/blog/blog-01.jpg" data-responsive="assets/img/blog/blog-01.jpg">
                <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                    <img class="img-fluid" src="assets/img/blog/blog-01.jpg" />
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 m-b-20" data-src="assets/img/blog/blog-02.jpg" data-responsive="assets/img/blog/blog-02.jpg">
                <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                    <img class="img-fluid" src="assets/img/blog/blog-02.jpg" />
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 m-b-20" data-src="assets/img/blog/blog-03.jpg" data-responsive="assets/img/blog/blog-03.jpg">
                <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                    <img class="img-fluid" src="assets/img/blog/blog-03.jpg" />
                </a>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 m-b-20" data-src="assets/img/blog/blog-04.jpg" data-responsive="assets/img/blog/blog-04.jpg">
                <a data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item">
                    <img class="img-fluid" src="assets/img/blog/blog-04.jpg" />
                </a>
            </div>
        </lightgallery>
    </div>
</div>