<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.blog">Blog </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">View Blog</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-md-8">
                <div class="blog-view">
                    <article class="blog blog-single-post">
                        <h3 class="blog-title">Eye Care Routine To Get Rid Of Under Eye Circles And Puffiness</h3>
                        <div class="blog-info clearfix">
                            <div class="post-right read-blks"><a href="javascript:void(0);">Read more in 8 Minutes</a></div>
                            <div class="post-left date-blks">
                                <ul>
                                    <li><a href="javascript:void(0);"><i class="feather icon-calendar"></i> <span>05 Jul 2022</span></a></li>
                                    <li><a href="javascript:void(0);"><i class="feather icon-message-square"></i> <span>58</span></a></li>
                                    <li><a href="javascript:void(0);"><i class="feather icon-eye"></i> <span>2.8k</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-image">
                            <a href="javascript:void(0);"><img alt="" src="assets/img/blog/blog-detail.jpg" class="img-fluid"></a>
                        </div>
                        <div class="blog-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                        </div>
                        <div class="blog-share ">
                            <div class="share-blogs d-flex align-items-center">
                                <a href="javascript:;"><img alt="" src="assets/img/icons/social-01.svg"></a>
                                <span class="ms-2">2.8k</span>
                            </div>
                            <ul class="social-share nav">
                                <li><a href="javascript:;"><img alt="" src="assets/img/icons/social-01.svg"></a></li>
                                <li><a href="javascript:;"><img alt="" src="assets/img/icons/social-02.svg"></a></li>
                                <li><a href="javascript:;"><img alt="" src="assets/img/icons/social-03.svg"></a></li>
                                <li><a href="javascript:;"><img alt="" src="assets/img/icons/social-04.svg"></a></li>
                            </ul>
                        </div>
                        <div class="list-add-blogs">
                            <ul class="nav">
                                <li># Ophthalmology</li>
                                <li># Beauty</li>
                                <li># Prevention</li>
                            </ul>
                        </div>
                    </article>
                    <div class="widget author-widget ">
                        <div class="authr-blog-group text-center">
                            <div class="authr-blg-img mb-2">
                                <img class="avatar" alt="" src="assets/img/profiles/avatar-03.jpg">
                            </div>
                            <h2>Markhay smith</h2>
                            <span>Dentist</span>
                            <p> Integer enim neque volutpat ac tincidunt vitae semper quis. Orci sagittis eu volutpat odio facilisis mauris sit. Sed risus ultricies tristique nulla aliquet enim tortor at auctor. </p>
                            <ul class="nav social-blk">
                                <li><a href="javascript:;"><img alt="" src="assets/img/icons/social-01.svg"></a></li>
                                <li><a href="javascript:;"><img alt="" src="assets/img/icons/social-02.svg"></a></li>
                                <li><a href="javascript:;"><img alt="" src="assets/img/icons/social-03.svg"></a></li>
                                <li><a href="javascript:;"><img alt="" src="assets/img/icons/social-04.svg"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget blog-comments clearfix">
                        <h3>Comments</h3>
                        <ul class="comments-list">
                            <li>
                                <div class="comment">
                                    <div class="comment-author">
                                        <a [routerLink]="routes.profile"><img class="avatar" alt="" src="assets/img/profiles/avatar-03.jpg"></a>
                                    </div>
                                    <div class="comment-block">
                                        <div class="comment-by">
                                            <div class="week-group">
                                                <h5 class="blog-author-name">Diana Bailey</h5>
                                                <span class="week-list">2 Weeks ago</span>
                                            </div>
                                            <span class="float-end">
                                                <span class="blog-reply"><a href="javascript:void(0);"><i class="fa fa-reply"></i> Reply</a></span>
                                            </span>
                                        </div>
                                        <p>Integer enim neque volutpat ac tincidunt vitae semper quis. Orci sagittis eu volutpat odio facilisis mauris sit. Sed risus ultricies tristique nulla aliquet enim tortor at auctor. </p>
                                       
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="comment">
                                    <div class="comment-author">
                                        <a [routerLink]="routes.profile"><img class="avatar" alt="" src="assets/img/profiles/avatar-04.jpg"></a>
                                    </div>
                                    <div class="comment-block">
                                        <div class="comment-by">
                                            <div class="week-group">
                                                <h5 class="blog-author-name">Diana Bailey</h5>
                                                <span class="week-list">2 Weeks ago</span>
                                            </div>
                                            <span class="float-end">
                                                <span class="blog-reply"><a href="javascript:void(0);"><i class="fa fa-reply"></i> Reply</a></span>
                                            </span>
                                        </div>
                                        <p>Integer enim neque volutpat ac tincidunt vitae semper quis. Orci sagittis eu volutpat odio facilisis mauris sit. Sed risus ultricies tristique nulla aliquet enim tortor at auctor. </p>
                                       
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="comment">
                                    <div class="comment-author">
                                        <a [routerLink]="routes.profile"><img class="avatar" alt="" src="assets/img/profiles/avatar-05.jpg"></a>
                                    </div>
                                    <div class="comment-block">
                                        <div class="comment-by">
                                            <div class="week-group">
                                                <h5 class="blog-author-name">Diana Bailey</h5>
                                                <span class="week-list">2 Weeks ago</span>
                                            </div>
                                            <span class="float-end">
                                                <span class="blog-reply"><a href="javascript:void(0);"><i class="fa fa-reply"></i> Reply</a></span>
                                            </span>
                                        </div>
                                        <p>Integer enim neque volutpat ac tincidunt vitae semper quis. Orci sagittis eu volutpat odio facilisis mauris sit. Sed risus ultricies tristique nulla aliquet enim tortor at auctor. </p>
                                       
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <aside class="col-md-4">
                <div class="widget post-widget">
                    <div class="relat-head">
                        <h5>Related Posts</h5>
                        <a href="javascript:;">Show All</a>
                    </div>
                    <ul class="latest-posts">
                        <li>
                            <div class="post-thumb">
                                <a [routerLink]="routes.blogDetails">
                                    <img class="img-fluid" src="assets/img/blog/blog-7.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-info">
                                <div class="date-posts">
                                    <h5>Health</h5>
                                    <span class="ms-2">05 Sep 2022</span>
                                </div>
                                <h4>
                                    <a [routerLink]="routes.blogDetails">Hydration or Moisturization – What to do this Winter?</a>
                                </h4>
                                <p> Read more in 10 Minutes<i class="fa fa-long-arrow-right ms-2"></i></p>
                            </div>
                        </li>
                        <li>
                            <div class="post-thumb">
                                <a [routerLink]="routes.blogDetails">
                                    <img class="img-fluid" src="assets/img/blog/blog-8.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-info">
                                <div class="date-posts">
                                    <h5>Ophthalmology</h5>
                                    <span class="ms-2">05 Sep 2022</span>
                                </div>
                                <h4>
                                    <a [routerLink]="routes.blogDetails">Keep proper monitor distance and room lighting.</a>
                                </h4>
                                <p> Read more in 5 Minutes<i class="fa fa-long-arrow-right ms-2"></i></p>
                            </div>
                        </li>
                        <li>
                            <div class="post-thumb">
                                <a [routerLink]="routes.blogDetails">
                                    <img class="img-fluid" src="assets/img/blog/blog-9.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-info">
                                <div class="date-posts">
                                    <h5>Safety</h5>
                                    <span class="ms-2">05 Sep 2022</span>
                                </div>
                                <h4>
                                    <a [routerLink]="routes.blogDetails">Keep Hand Sanitizers Away from Young Children</a>
                                </h4>
                                <p> Read more in 4 Minutes<i class="fa fa-long-arrow-right ms-2"></i></p>
                            </div>
                        </li>
                        <li>
                            <div class="post-thumb">
                                <a [routerLink]="routes.blogDetails">
                                    <img class="img-fluid" src="assets/img/blog/blog-10.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-info">
                                <div class="date-posts">
                                    <h5>Ophthalmology</h5>
                                    <span class="ms-2">05 Sep 2022</span>
                                </div>
                                <h4>
                                    <a [routerLink]="routes.blogDetails">Hair Loss – Causes, Treatment and Preventions</a>
                                </h4>
                                <p> Read more in 10 Minutes<i class="fa fa-long-arrow-right ms-2"></i></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="widget tags-widget">
                    <div class="relat-head">
                        <h5>Tags</h5>
                    </div>
                    <ul class="tags">
                        <li><a href="javascript:void(0);" class="tag"># Endodontics (10)</a></li>
                        <li><a href="javascript:void(0);" class="tag"># Endodontics (15)</a></li>
                        <li><a href="javascript:void(0);" class="tag"># Neurology (70)</a></li>
                        <li><a href="javascript:void(0);" class="tag"># Insurance (16)</a></li>
                        <li><a href="javascript:void(0);" class="tag"># Dental (60)</a></li>
                        <li><a href="javascript:void(0);" class="tag"># Neurology (70)</a></li>
                        <li><a href="javascript:void(0);" class="tag"># Diabetes (10)</a></li>
                        <li><a href="javascript:void(0);" class="tag"># Dermotology (15)</a></li>
                        <li><a href="javascript:void(0);" class="tag"># Stress (25)</a></li>
                    </ul>
                </div>
                <div class="widget post-widget">
                    <div class="relat-head">
                        <h5>Most Reads</h5>
                        <a href="javascript:;">Show All</a>
                    </div>
                    <ul class="latest-posts">
                        <li>
                            <div class="post-thumb">
                                <a [routerLink]="routes.blogDetails">
                                    <img class="img-fluid" src="assets/img/blog/blog-11.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-info">
                                <div class="date-posts">
                                    <h5>Health</h5>
                                    <span class="ms-2">05 Sep 2022</span>
                                </div>
                                <h4>
                                    <a [routerLink]="routes.blogDetails">Hydration or Moisturization – What to do this Winter?</a>
                                </h4>
                                <p> Read more in 10 Minutes<i class="fa fa-long-arrow-right ms-2"></i></p>
                            </div>
                        </li>
                        <li>
                            <div class="post-thumb">
                                <a [routerLink]="routes.blogDetails">
                                    <img class="img-fluid" src="assets/img/blog/blog-12.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-info">
                                <div class="date-posts">
                                    <h5>Ophthalmology</h5>
                                    <span class="ms-2">05 Sep 2022</span>
                                </div>
                                <h4>
                                    <a [routerLink]="routes.blogDetails">Hair Loss – Causes, Treatment and Preventions</a>
                                </h4>
                                <p> Read more in 5 Minutes<i class="fa fa-long-arrow-right ms-2"></i></p>
                            </div>
                        </li>
                        <li>
                            <div class="post-thumb">
                                <a [routerLink]="routes.blogDetails">
                                    <img class="img-fluid" src="assets/img/blog/blog-13.jpg" alt="">
                                </a>
                            </div>
                            <div class="post-info">
                                <div class="date-posts">
                                    <h5>Safety</h5>
                                    <span class="ms-2">05 Sep 2022</span>
                                </div>
                                <h4>
                                    <a [routerLink]="routes.blogDetails">Simple Changes That Lowered My Mom's Blood Pressure</a>
                                </h4>
                                <p> Read more in 4 Minutes<i class="fa fa-long-arrow-right ms-2"></i></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="widget category-widget">
                    <div class="relat-head mb-0">
                        <h5> Categories</h5>
                    </div>
                    <ul class="categories">
                        <li><a href="javascript:void(0);"><img src="assets/img/icons/tag.svg" class="me-1" alt="">Hydration or Moisturization  (10)</a></li>
                        <li><a href="javascript:void(0);"><img src="assets/img/icons/tag.svg" class="me-1" alt="">Ophthalmology  (50)</a></li>
                        <li><a href="javascript:void(0);"><img src="assets/img/icons/tag.svg" class="me-1" alt="">Blood Pressure  (24)</a></li>
                        <li><a href="javascript:void(0);"><img src="assets/img/icons/tag.svg" class="me-1" alt="">Corona Virus  (32)</a></li>
                        <li><a href="javascript:void(0);"><img src="assets/img/icons/tag.svg" class="me-1" alt="">Dental  (15)</a></li>
                    </ul>
                </div>
            </aside>
            <div class="col-md-12">
                <div class="widget new-comment clearfix">
                    <h3>Leave a Comment</h3>
                    <form>
                        <div class="row">
                            <div class="col-12 col-md-6 col-xl-6">  
                                <div class="form-group local-forms">
                                    <label >Name <span class="login-danger">*</span></label>
                                    <input class="form-control" type="text" placeholder="Enter Name" >
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-6">
                                <div class="form-group local-forms">
                                    <label >Email<span class="login-danger">*</span></label>
                                    <input class="form-control" type="text" placeholder="Enter Email" >
                                </div>
                            </div>
                            <div class="col-12 col-sm-12">
                                <div class="form-group local-forms">
                                    <label>Comments  <span class="login-danger">*</span></label>
                                    <textarea class="form-control" rows="3" cols="30"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="remember-me">
                                    <label class="custom_check mr-2 mb-0 d-inline-flex remember-me"> Save my name, email, and website in this browser for the next time I comment.
                                    <input type="checkbox" name="radio" checked>
                                    <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="doctor-submit text-end">
                                    <button type="submit" class="btn btn-primary submit-form me-2">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>