<div class="page-wrapper">
  <div class="content">

      <!-- Page Header -->
      <div class="page-header">
          <div class="row">
              <div class="col-sm-12">
                  <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#" onclick="return false;">Doctors </a></li>
                      <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                      <li class="breadcrumb-item active">Doctors Profile</li>
                  </ul>
              </div>
          </div>
      </div>
      <!-- /Page Header -->
      <div class="row">
          <div class="col-sm-12" *ngIf="doctor_selected">
              <div class="card">
                  <div class="card-body">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="about-info">
                                  <h4>Doctors Profile  <span><a href="javascript:;"><i class="feather icon-more-vertical"></i></a></span></h4>
                              </div>
                              <div class="doctor-profile-head">
                                  <!-- <div class="profile-bg-img">
                                      <img  src="assets/img/profile-bg.jpg"  alt="Profile">
                                  </div> -->
                                  <div class="row">
                                      <div class="col-lg-4 col-md-4">
                                          <div class="profile-user-box">
                                              <div class="profile-user-img">
                                                  <img  [src]="doctor_selected.avatar"  alt="Profile">
                                                  <div class="form-group doctor-up-files profile-edit-icon mb-0">
                                                      <div class="uplod d-flex">
                                                          <label class="file-upload profile-upbtn mb-0">
                                                              <img  src="assets/img/icons/camera-icon.svg"  alt="Profile"><input type="file">
                                                          </label>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="names-profiles">
                                                  <h4>{{ doctor_selected.full_name }}</h4>
                                                  <h5>{{ doctor_selected.specialitie.name }}</h5>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-lg-4 col-md-4 d-flex align-items-center">
                                          <div class="follow-group">
                                              <div class="doctor-follows">
                                                  <h5>Appointment</h5>
                                                  <h4>{{ num_appointment }}</h4>
                                              </div>
                                              <div class="doctor-follows">
                                                  <h5>Money</h5>
                                                  <h4>{{ money_of_appointments }} PEN</h4>
                                              </div>
                                              <div class="doctor-follows">
                                                  <h5>Appointment Pendings</h5>
                                                  <h4>{{ num_appointment_pendings }}</h4>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-lg-4 col-md-4 d-flex align-items-center">
                                          <div class="follow-btn-group">
                                              <a [routerLink]="[ '/doctors/list/edit/', doctor_id ]" class="btn btn-info follow-btns">Edit</a>
                                              <button type="submit" class="btn btn-info message-btns">Message</button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-4">
                      <div class="doctor-personals-grp">
                          <div class="card">
                              <div class="card-body">
                                  <div class="heading-detail ">
                                      <h4 class="mb-3">About me</h4>
                                      <p>Hello I am Smith Bruklin a Gynaecologist in Sanjivni Hospital Surat. I love to work with all my hospital staff and seniour doctors.</p>
                                  </div>
                                  <div class="about-me-list">
                                      <ul class="list-space">
                                          <li>
                                              <h4>Gender</h4>
                                              <span *ngIf="doctor_selected.gender == 2">Femenino</span>
                                              <span *ngIf="doctor_selected.gender == 1">Masculino</span>
                                          </li>
                                          <li>
                                              <h4>Education</h4>
                                              <span>{{ doctor_selected.education }}</span>
                                          </li>
                                          <li>
                                              <h4>Designation</h4>
                                              <span>{{ doctor_selected.designation }}</span>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="doctor-personals-grp">
                          <div class="card">
                              <div class="card-body">
                                  <div class="about-me-list">
                                      <ul class="list-space">
                                          <li>
                                              <h4>Birth Day</h4>
                                              <span>{{ doctor_selected.birth_date }}</span>
                                          </li>

                                          <li>
                                              <h4>Email</h4>
                                              <span>{{ doctor_selected.email }}</span>
                                          </li>
                                          <li>
                                              <h4>Mobile</h4>
                                              <span>{{ doctor_selected.mobile }}</span>
                                          </li>
                                          <li>
                                              <h4>Rol</h4>
                                              <span>{{ doctor_selected.role.name }}</span>
                                          </li>
                                          <li>
                                              <h4>Dias de Trabajo</h4>
                                              <span>{{ doctor_selected.days_name }}</span>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-8">
                      <div class="doctor-personals-grp">
                          <div class="card">
                              <div class="card-body">
                                  <div class="tab-content-set">
                                      <ul class="nav">
                                          <li>
                                              <a href="#" onclick="return false;" [ngClass]="{'active': option_selected == 1}" (click)="optionSelected(1)"><span class="set-about-icon me-2"><img src="assets/img/icons/menu-icon-02.svg" alt=""></span>List Appointments</a>
                                          </li>
                                          <li>
                                              <a href="#" onclick="return false;" [ngClass]="{'active': option_selected == 2}" (click)="optionSelected(2)"><span class="set-about-icon me-2"><img src="assets/img/icons/menu-icon-16.svg" alt=""></span>Settings</a>
                                          </li>
                                      </ul>
                                  </div>
                                  <ng-container *ngIf="option_selected == 1">
                                      <div class="activity">
                                          <div class="activity-box">
                                              <ul class="activity-list">
                                                  <ng-container *ngFor="let appointment of appointments">

                                                      <li>
                                                          <div class="activity-user">
                                                              <a href="#" onclick="return false;" [attr.title]="appointment.patient.full_name" data-bs-toggle="tooltip" class="avatar">
                                                                  <img [attr.alt]="appointment.patient.full_name" [src]="appointment.patient.avatar" class="img-fluid rounded-circle">
                                                              </a>
                                                          </div>
                                                          <div class="activity-content timeline-group-blk">
                                                              <div class="timeline-group flex-shrink-0">
                                                                  <h4>{{ appointment.date_appointment_format }}</h4>
                                                                  <span class="time">{{ appointment.format_hour_start + ' - ' + appointment.format_hour_end}}</span>
                                                              </div>
                                                              <div class="comman-activitys flex-grow-1">
                                                                  <h3>{{ appointment.patient.full_name }} <span> MONTO : {{ appointment.amount }}  PEN.</span></h3>
                                                                  <p *ngIf="appointment.appointment_attention">
                                                                      {{ appointment.appointment_attention.description }}
                                                                  </p>
                                                                  <ng-container *ngIf="!appointment.appointment_attention">
                                                                      <button class="custom-badge status-pink">PENDIENTE</button>
                                                                  </ng-container>

                                                              </div>
                                                          </div>
                                                      </li>

                                                  </ng-container>


                                              </ul>
                                          </div>
                                      </div>
                                  </ng-container>
                                  <ng-container *ngIf="option_selected == 2">
                                      <div class="setting-form-blk">
                                          <form>
                                              <div class="row">
                                                  <div class="col-12">
                                                      <div class="form-heading">
                                                          <h4>Account Setting</h4>
                                                      </div>
                                                  </div>
                                                  <div class="col-12">
                                                      <div class="form-group row my-4" *ngIf="text_success">
                                                          <div class="col-md-8">
                                                              <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                                  <strong>Exito!</strong> {{ text_success }}.
                                                                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                                                      <span aria-hidden="true"> </span>
                                                                  </button>
                                                              </div>
                                                          </div>
                                                      </div>

                                                      <div class="form-group row my-4" *ngIf="text_validation">
                                                          <div class="col-md-8">
                                                              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                                  <strong>!</strong> {{ text_validation }}.
                                                                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                                                                      <span aria-hidden="true"> </span>
                                                                  </button>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-12 col-sm-12">
                                                      <div class="form-group local-forms">
                                                          <label >Name </label>
                                                          <input class="form-control" type="text" name="name" [(ngModel)]="name" >
                                                      </div>
                                                  </div>
                                                  <div class="col-12 col-sm-12">
                                                      <div class="form-group local-forms">
                                                          <label >Surname </label>
                                                          <input class="form-control" type="text" name="surname" [(ngModel)]="surname" >
                                                      </div>
                                                  </div>
                                                  <div class="col-12 col-sm-12">
                                                      <div class="form-group local-forms">
                                                          <label >Mobile </label>
                                                          <input class="form-control" type="text" name="mobile" [(ngModel)]="mobile" >
                                                      </div>
                                                  </div>
                                                  <div class="col-12 col-sm-12">
                                                      <div class="form-group local-forms">
                                                          <label >Email </label>
                                                          <input class="form-control" type="email" name="email" [(ngModel)]="email" >
                                                      </div>
                                                  </div>
                                                  <div class="col-12 col-sm-12">
                                                      <div class="form-group local-forms">
                                                          <label>Address  <span class="login-danger">*</span></label>
                                                          <textarea class="form-control" name="address" [(ngModel)]="address" rows="3" cols="30"></textarea>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div class="col-12">
                                                  <div class="form-heading">
                                                      <h4>Security Setting</h4>
                                                  </div>
                                              </div>
                                              <div class="col-12 col-sm-12">
                                                  <div class="form-group local-forms">
                                                      <label >New Password </label>
                                                      <input class="form-control" type="password" name="password" placeholder="" [(ngModel)]="password">
                                                  </div>
                                              </div>
                                              <div class="col-12 col-sm-12">
                                                  <div class="form-group local-forms">
                                                      <label >Confirm Password </label>
                                                      <input class="form-control" type="password" name="password_repet" placeholder="" [(ngModel)]="password_repet">
                                                  </div>
                                              </div>

                                              <div class="col-12">
                                                  <div class="doctor-submit">
                                                      <button type="button" (click)="update()" class="btn btn-primary submit-form me-2">Editar</button>
                                                      <!-- <button type="submit" class="btn btn-primary cancel-form">Cancel</button> -->
                                                  </div>
                                              </div>
                                          </form>
                                      </div>
                                  </ng-container>
                              </div>
                          </div>
                          <div class="card">
                              <div class="card-header">
                                  <h4 class="card-title ">Appointment Pendings</h4>
                              </div>
                              <div class="card-body p-0 table-dash">
                                  <div class="table-responsive">
                                      <!-- (matSortChange)="sortData($event)" -->
                                      <table matSort  class="table mb-0 border-0 datatable custom-table patient-profile-table">
                                          <thead>
                                              <tr>
                                                  <th mat-sort-header="date">Date</th>
                                                  <th mat-sort-header="doctor">Patient</th>
                                                  <th mat-sort-header="status">Status</th>
                                                  <th mat-sort-header="status_pay">Status Pay</th>
                                                  <th mat-sort-header="charges">Charges ($)</th>
                                                  <th></th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <tr *ngFor="let data of appointment_pendings">
                                                  <td >{{data.date_appointment_format}} </td>
                                                  <td >{{data.patient.full_name}}</td>
                                                  <td>
                                                      <button [ngClass]="{'status-pink' : data.status === 1, 'status-green' : data.status === 2}" class="custom-badge">{{data.status == 1 ? 'PENDIENTE' : 'ATENDIDO'}}</button>
                                                  </td>
                                                  <td>
                                                      <button [ngClass]="{'status-green' : data.status_pay === 1, 'status-pink' : data.status_pay === 2}" class="custom-badge">{{data.status_pay == 1 ? 'PAGADO' : 'DEUDA'}}</button>
                                                  </td>
                                                  <td>{{data.amount }} PEN</td>
                                                  <td class="text-end">
                                                      <div class="dropdown dropdown-action">
                                                          <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                          <div class="dropdown-menu dropdown-menu-end">
                                                              <a class="dropdown-item" [routerLink]="[ '/appointment-m/list/edit/', data.id ]"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
                                                              <!-- <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_appointment"><i class="fa fa-trash-alt m-r-5"></i> Delete</a> -->
                                                          </div>
                                                      </div>
                                                  </td>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
