<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.appointmentList">Appointment </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Appointment List</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        
        <div class="row">
            <div class="col-sm-12">
            
                <div class="card card-table show-entire">
                    <div class="card-body">
                    
                        <!-- Table Header -->
                        <div class="page-table-header mb-2">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="doctor-table-blk">
                                        <h3>Appointment</h3>
                                        <div class="doctor-search-blk">
                                            <div class="top-nav-search table-search-blk">
                                                    <input  class="form-control" placeholder="Search here" [(ngModel)]="searchDataValue" 
                                                    (ngModelChange)="searchData(searchDataValue)">
                                                    <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                                            </div>
                                            <div class="add-group">
                                                <a [routerLink]="routes.addAppointment" class="btn btn-primary add-pluss ms-2"><img src="assets/img/icons/plus.svg" alt=""></a>
                                                <a href="javascript:;" class="btn btn-primary doctor-refresh ms-2"><img src="assets/img/icons/re-fresh.svg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto text-end float-end ms-auto download-grp">
                                    <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-01.svg" alt=""></a>
                                    <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-02.svg" alt=""></a>
                                    <a href="javascript:;" class=" me-2"><img src="assets/img/icons/pdf-icon-03.svg" alt=""></a>
                                    <a href="javascript:;" ><img src="assets/img/icons/pdf-icon-04.svg" alt=""></a>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- /Table Header -->
                        
                        <div class="table-responsive">
                            <table matSort (matSortChange)="sortData($event)" class="table border-0 custom-table comman-table datatable mb-0">
                                <thead>
                                    <tr>
                                        <th mat-sort-header="checkbox">
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox" value="something">
                                            </div>
                                        </th>
                                        <th mat-sort-header="name">Name</th>
                                        <th mat-sort-header="consultingDoctor">Consulting Doctor</th>
                                        <th mat-sort-header="treatment">Treatment</th>
                                        <th mat-sort-header="mobile">Mobile</th>
                                        <th mat-sort-header="email">Email</th>
                                        <th mat-sort-header="date" >Date</th>
                                        <th mat-sort-header="time" >Time</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of appointmentList">
                                        <td>
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox" value="something">
                                            </div>
                                        </td>
                                        <td class="profile-image"><a [routerLink]="routes.profile"><img width="28" height="28" [src]="data.img" class="rounded-circle m-r-5" alt=""> {{data.name}}</a></td>
                                        <td>{{data.consultingDoctor}}</td>
                                        <td>{{data.treatment}}</td>
                                        <td><a href="javascript:;">{{data.mobile}}</a></td>
                                        <td>{{data.email}}</td>
                                        <td>{{data.date}}</td>
                                        <td>{{data.time}}</td>
                                        <td class="text-end">
                                            <div class="dropdown dropdown-action">
                                                <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" [routerLink]="routes.editAppointment"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_patient"><i class="fa fa-trash-alt m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="table_footer">
                                <div class="col-sm-12 col-md-5">
                                  <div class="dataTables_info">
                                    Showing {{ serialNumberArray[0] }} to
                                    {{ serialNumberArray[serialNumberArray.length - 1] }} of
                                    {{ totalData }} entries
                                  </div>
                                </div>
                
                                <div class="col-sm-12 col-md-7">
                                  <div class="pagination_section">
                                    <ul class="pagination">
                                      <li
                                        class="page-item"
                                        [ngClass]="{
                                          disabled: currentPage === 1
                                        }"
                                      >
                                        <a
                                          (click)="getMoreData('previous')"
                                          class="page-link"
                                          href="javascript:void(0);"
                                          tabindex="-1"
                                          >Previous</a
                                        >
                                      </li>
                
                                      <ng-container
                                        *ngFor="let item of pageNumberArray; let i = index"
                                      >
                                        <li
                                          class="page-item"
                                          [class.active]="item === currentPage"
                                          [ngClass]="
                                            (pageNumberArray[currentPage - 2] > item &&
                                              item !== 1 &&
                                              pageNumberArray.length > 6) ||
                                            (pageNumberArray[currentPage] < item &&
                                              item !== 1 &&
                                              pageNumberArray.length > 6 &&
                                              pageNumberArray.length !== item)
                                              ? 'hide-page-no'
                                              : 'show-page-no'
                                          "
                                        >
                                          <a
                                            (click)="moveToPage(item)"
                                            class="page-link"
                                            href="javascript:void(0);"
                                          >
                                            {{ item }}
                                          </a>
                                        </li>
                                        <li
                                          class="page-item"
                                          *ngIf="
                                            i === 0 &&
                                            pageNumberArray.length > 6 &&
                                            currentPage > 2
                                          "
                                          [hidden]="currentPage === 1"
                                          (click)="moveToPage(currentPage - 2)"
                                        >
                                          <a class="page-link" href="javascript:void(0);">
                                            ...
                                          </a>
                                        </li>
                                        <li
                                          *ngIf="
                                            i === pageNumberArray.length - 2 &&
                                            pageNumberArray.length > 6
                                          "
                                          [hidden]="
                                            currentPage >=
                                              pageNumberArray[pageNumberArray.length - 2] ||
                                            totalData <
                                              serialNumberArray[serialNumberArray.length - 1]
                                          "
                                          class="page-item"
                                          (click)="moveToPage(currentPage + 2)"
                                        >
                                          <a class="page-link" href="javascript:void(0);">
                                            ...
                                          </a>
                                        </li>
                                      </ng-container>
                
                                      <li
                                        class="page-item"
                                        [ngClass]="{
                                          disabled:
                                            currentPage ===
                                              pageNumberArray[pageNumberArray.length - 1] ||
                                              appointmentList.length === 0
                                        }"
                                      >
                                        <a
                                          (click)="getMoreData('next')"
                                          class="page-link"
                                          href="javascript:void(0);"
                                          >Next
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>							
            </div>					
        </div>
    </div>
</div>