<div class="main-wrapper" [ngClass]="{
    'expand-menu': expandMenu === 'true' && miniSidebar === 'true',
    'mini-sidebar': miniSidebar === 'true',
    'slide-nav': mobileSidebar === 'true'
}">
    <app-header [ngClass]="{
        'd-none': sideBarActivePath === false && headerActivePath === false}"></app-header>
    <app-sidebar [ngClass]="{
        'd-none': sideBarActivePath === false && headerActivePath === false}"></app-sidebar>
    <router-outlet></router-outlet>
    <div
class="sidebar-overlay"
[ngClass]="{
  opened: mobileSidebar === 'true'
}"
></div>
    <app-modal></app-modal>
</div>
