<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Patient Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        
        <div class="good-morning-blk">
            <div class="row">
                <div class="col-md-6">
                    <div class="morning-user">
                        <h2>Good Morning, <span>Williams Sarah</span></h2>
                        <p>Have a nice day at work</p>
                    </div>
                </div>
                <div class="col-md-6 position-blk">
                    <div class="morning-img">
                        <img src="assets/img/morning-img-03.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-7">
                <div class="card">
                    <div class="card-body">
                        <div class="chart-title patient-visit mb-0">
                            <h4>Static of your Health</h4>
                            <div class="income-value">
                                <p><span class="passive-view"><i class="feather icon-arrow-up-right me-1"></i>40%</span> vs last month</p>
                            </div>
                            <div class="average-health">
                                <h5>72bmp <span>Average</span></h5>
                            </div>
                            <div class="form-group mb-0">
                                <mat-select [(ngModel)]="selectedValue" class="form-control select"  placeholder="2022">
                                    <mat-option *ngFor="let data of selecedList" [value]="data.value">
                                      {{data.value}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>	
                        <div id="health-chart">
                            <apx-chart
                            [series]="chartOptionsOne.series"
                            [chart]="chartOptionsOne.chart"
                            [xaxis]="chartOptionsOne.xaxis"
                            [dataLabels]="chartOptionsOne.dataLabels"
                            [grid]="chartOptionsOne.grid"
                            [stroke]="chartOptionsOne.stroke"
                            [title]="chartOptionsOne.title"
                            [markers]="chartOptionsOne.markers"
                            [yaxis]="chartOptionsOne.yaxis"
                            [fill]="chartOptionsOne.fill"
                          ></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-12 col-xl-5 d-flex">
                <div class="card">
                    <div class="card-body">
                        <div class="chart-title patient-visit">
                            <h4>Body Mass index</h4>
                        </div>
                        <div class="body-mass-blk">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="weight-blk">
                                        <ngx-slick-carousel class="center slider carousel" [config]="slideConfig">
                                            <div ngxSlickItem *ngFor="let slide of carousel1">
                                                <h4>{{slide.quantity}}</h4>
                                                <span>{{slide.units}}</span>
                                            </div>
                                        </ngx-slick-carousel>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="weight-blk">
                                        <ngx-slick-carousel class="center slider carousel"  #slickModal="slick-carousel" [config]="slideConfig">
                                            <div ngxSlickItem *ngFor="let slide of carousel2">
                                                <h4>{{slide.quantity}}</h4>
                                                <span>{{slide.units}}</span>
                                            </div>
                                        </ngx-slick-carousel>
                                    </div>
                                </div>
                            </div>
                            <div class="progress weight-bar">
                                <div class="progress-bar progress-bar-success" role="progressbar" ></div>
                            </div>
                            <ul class="weight-checkit">
                                <li>Underweight</li>
                                <li>Normal (45.5)</li>
                                <li>Overweight</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-xl-3 d-flex">
                <div class="card report-blk">
                    <div class="card-body">
                        <div class="report-head">
                            <h4><img src="assets/img/icons/report-icon-01.svg" class="me-2" alt="">Heart Rate</h4>
                        </div>
                        <div id="heart-rate">
                            <apx-chart
                            [series]="chartOptionsTwo.series"
                            [chart]="chartOptionsTwo.chart"
                            [dataLabels]="chartOptionsTwo.dataLabels"
                            [stroke]="chartOptionsTwo.stroke"
                            [title]="chartOptionsTwo.title"
                            [markers]="chartOptionsTwo.markers"
                            [xaxis]="chartOptionsTwo.xaxis"
                            [yaxis]="chartOptionsTwo.yaxis"
                            [grid]="chartOptionsTwo.grid"
                            [fill]="chartOptionsTwo.fill"
                          ></apx-chart></div>
                        <div class="dash-content">
                            <h5>110 <span>bpm</span></h5>
                            <p><span class="passive-view"><i class="feather icon-arrow-up-right me-1"></i>40%</span> vs last month</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 d-flex">
                <div class="card report-blk">
                    <div class="card-body">
                        <div class="report-head">
                            <h4><img src="assets/img/icons/report-icon-02.svg" class="me-2" alt="">Temperature</h4>
                        </div>
                        <div id="temperature-chart">
                            <apx-chart
                            [series]="chartOptionsThree.series"
                            [chart]="chartOptionsThree.chart"
                            [dataLabels]="chartOptionsThree.dataLabels"
                            [plotOptions]="chartOptionsThree.plotOptions"
                            [yaxis]="chartOptionsThree.yaxis"
                            [legend]="chartOptionsThree.legend"
                            [fill]="chartOptionsThree.fill"
                            [stroke]="chartOptionsThree.stroke"
                            [tooltip]="chartOptionsThree.tooltip"
                            [xaxis]="chartOptionsThree.xaxis"
                            [xaxis]="chartOptionsThree.xaxis"
                            [yaxis]="chartOptionsThree.yaxis"
                            [grid]="chartOptionsThree.grid"
                          ></apx-chart>
                        </div>
                        <div class="dash-content">
                            <h5>38.6 <span>c</span></h5>
                            <p><span class="negative-view"><i class="feather icon-arrow-down-right me-1"></i>-20%</span> vs last month</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 d-flex">
                <div class="card report-blk">
                    <div class="card-body">
                        <div class="report-head">
                            <h4><img src="assets/img/icons/report-icon-03.svg" class="me-2" alt="">Blood Pressure</h4>
                        </div>
                        <div id="pressure-chart">
                            <apx-chart
                            [series]="chartOptionsFour.series"
                            [chart]="chartOptionsFour.chart"
                            [dataLabels]="chartOptionsFour.dataLabels"
                            [plotOptions]="chartOptionsFour.plotOptions"
                            [responsive]="chartOptionsFour.responsive"
                            [xaxis]="chartOptionsFour.xaxis"
                            [legend]="chartOptionsFour.legend"
                            [fill]="chartOptionsFour.fill"
                            [xaxis]="chartOptionsFour.xaxis"
                            [yaxis]="chartOptionsFour.yaxis"
                            [grid]="chartOptionsFour.grid"
                          ></apx-chart>
                        </div>
                        <div class="dash-content">
                            <h5>120 <span>mm/Hg</span></h5>
                            <p><span class="negative-view"><i class="feather icon-arrow-down-right me-1"></i>-40%</span> vs last month</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 d-flex">
                <div class="card report-blk">
                    <div class="card-body">
                        <div class="report-head">
                            <h4><img src="assets/img/icons/report-icon-04.svg" class="me-2" alt="">Sleep</h4>
                        </div>
                        <div id="sleep-chart">
                            <apx-chart
                            [series]="chartOptionsFive.series"
                            [chart]="chartOptionsFive.chart"
                            [xaxis]="chartOptionsFive.xaxis"
                            [dataLabels]="chartOptionsFive.dataLabels"
                            [grid]="chartOptionsFive.grid"
                            [stroke]="chartOptionsFive.stroke"
                            [title]="chartOptionsFive.title"
                            [markers]="chartOptionsFive.markers"
                            [yaxis]="chartOptionsFive.yaxis"
                            [fill]="chartOptionsFive.fill"
                          ></apx-chart>
                        </div>
                        <div class="dash-content">
                            <h5>7<span>h</span> 30 <span>m</span></h5>
                            <p><span class="negative-view"><i class="feather icon-arrow-down-right me-1"></i>-10%</span> vs last month</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-xl-7">
                <div class="row">
                    <div class="col-12 col-md-6 col-xl-5">
                        <div class="card top-departments">
                            <div class="card-header pb-0">
                                <h4 class="card-title mb-0">Notes</h4>
                            </div>
                            <div class="card-body pt-1">
                                <div class="note-checkit">
                                    <label class="custom_check">
                                        <input type="checkbox" name="select_specialist" checked>
                                        <span class="checkmark"></span> Take vitamin Tablet
                                    </label>
                                </div>
                                <div class="note-checkit">
                                    <label class="custom_check">
                                        <input type="checkbox" name="select_specialist" checked>
                                        <span class="checkmark"></span> Add Appoinment
                                    </label>
                                </div>
                                <div class="note-checkit">
                                    <label class="custom_check">
                                        <input type="checkbox" name="select_specialist">
                                        <span class="checkmark"></span> Set a goal
                                    </label>
                                </div><div class="note-checkit">
                                    <label class="custom_check mb-0">
                                        <input type="checkbox" name="select_specialist">
                                        <span class="checkmark"></span> Add new weight
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-7 d-flex">
                        <div class="card wallet-widget general-health">
                            <div class="circle-bar circle-bar2">
                                <circle-progress class="circle-progress-bar" [percent]="66" [clockwise]="true"
                                innerStrokeColor=#dee2e6 outerStrokeColor=#2E37A4></circle-progress>
                                <div class="circle-progress-icon">
                                    <b><img src="assets/img/icons/health-img.svg" alt=""></b>
                                </div>
                            </div>
                            <div class="main-limit">
                                <p>General Health</p>
                                <h4>75%</h4>
                                <div class="income-value mt-2">
                                    <p><span class="passive-view"><i class="feather icon-arrow-up-right me-1"></i>40%</span> vs last month</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12  col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title d-inline-block">Medical History</h4> <a [routerLink]="routes.appointmentList" class="patient-views float-end">Show all</a>
                            </div>
                            <div class="card-body p-0 table-dash">
                                <div class="table-responsive">
                                    <table matSort (matSortChange)="sortData($event)" class="table mb-0 border-0 datatable custom-table patient-table">
                                        <thead>
                                            <tr>
                                                <th mat-sort-header="checkbox">
                                                    <div class="form-check check-tables">
                                                        <input class="form-check-input" type="checkbox" value="something">
                                                    </div>
                                                </th>
                                                <th mat-sort-header="doctorName">Doctor name</th>
                                                <th mat-sort-header="diagnosis">Diagnosis</th>
                                                <th mat-sort-header="status">Date</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of patientDashboard">
                                                <td>
                                                    <div class="form-check check-tables">
                                                        <input class="form-check-input" type="checkbox" value="something">
                                                    </div>
                                                </td>
                                                <td class="table-image">
                                                    <img width="28" height="28" class="rounded-circle" [src]="data.img" alt=""> 
                                                    <h2>{{data.doctorName}}</h2>
                                                </td>
                                                <td>{{data.diagnosis}}</td>
                                                <td >{{data.date}} </td>
                                                <td><button class="custom-badge status-gray re-shedule">{{data.status}}</button></td>
                                                <td class="text-end">
                                                    <div class="dropdown dropdown-action">
                                                        <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <a class="dropdown-item" [routerLink]="routes.editAppointment"><i class="fa-solid fa-pen-to-square m-r-5"></i> Edit</a>
                                                            <a class="dropdown-item" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_appointment"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-xl-5">
                <div class="card flex-fill mb-2">
                    <div class="card-body">
                        <div class="calendar-container">
                            <mat-card class="demo-inline-calendar-card">
                                <mat-calendar [(selected)]="selected"></mat-calendar>
                              </mat-card>
                        </div>
                    </div>
                </div>
                <div class="treat-box mb-2">
                    <div class="user-imgs-blk">
                        <img src="assets/img/profiles/avatar-05.jpg" alt="">
                        <div class="active-user-detail flex-grow-1">
                            <h4>General Health Check up</h4>
                            <p>Dr. Dianne Philips at 10:00-11:00 AM</p>
                        </div>
                    </div>
                    <a href="javascript:;" class="custom-badge status-green">Active</a>
                </div>
                <div class="treat-box">
                    <div class="user-imgs-blk">
                        <img src="assets/img/profiles/avatar-03.jpg" alt="">
                        <div class="active-user-detail flex-grow-1">
                            <h4>Temporary Headache </h4>
                            <p>Dr. Jenny Smith at 05:00-06:00 PM</p>
                        </div>
                    </div>
                    <a href="javascript:;" class="custom-badge status-orange">Pending</a>
                </div>
            </div>
        </div>
    </div>
</div>